doctype html
html
  head
    title Kibana Companion
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css")
    script(src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js")
    script(src="https://code.jquery.com/jquery-3.1.1.min.js")
  body
    h1 Kibana Companion 
    ul
      - for (var i = 0; i < resbody.length; i++) 
        ul= resbody[i]
      
    
    
    